.card {
	--md-filled-card-container-color: var(--md-sys-color-surface-variant);
}
.card:hover {
	--md-elevation-level: 4;
	animation: changeShape 0.2s forwards;
}
@keyframes changeShape {
	from {
		--_container-shape: 12px;
	}

	to {
		--_container-shape: 28px;
	}
}

.card img:not(:first-child) {
	padding-bottom: 16px;
}

.card--with-custom-borders {
	--md-card-container-shape: 24px 8px;
}

.card__header {
	display: flex;
	flex-direction: row;
	padding: 16px;
}

.card-thumbnail {
	min-width: 40px;
	width: 40px;
	height: 40px;
	line-height: 2.25;
	background-color: var(--md-sys-color-primary-container);
	border-radius: 50%;
	margin: 0 16px 0 0;
	align-self: center;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
}

.card__header-text {
	display: flex;
	flex-direction: column;
}

.card__title,
.card__subtitle,
.card__secondary {
	font-family: Roboto, sans-serif;
}

.card__title {
	font-size: 1.25rem !important;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: 0.0125em;
	color: var(--md-sys-color-on-background)
}

.card__subtitle {
	font-size: 0.875rem !important;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.0178571429em;
	color: var(--md-sys-color-on-background);
	text-decoration: inherit;
	text-decoration-line: inherit;
	text-decoration-style: inherit;
	text-decoration-color: inherit;
}

.card__secondary {
	font-size: 0.875rem !important;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	color: var(--md-sys-color-on-background);
	text-decoration: inherit;
	text-transform: inherit;
	/* top margin adjusted for 16px of line-height, length to baseline 28px*/
	/* bottom margin adjusted for 2px of line-height, length to baseline */
	/* padding: 12px 16px 22px;
	 */
	padding: 0 1rem 8px;
}

.card--with-text-over-media .card__secondary,
.card--with-header .card__secondary {
	padding-top: 1rem;
}

.card--with-media-header .card__header {
	padding: 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card--with-media-header .card__media {
	width: 110px;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	--mdc-card-media-border-top-left-radius: 10px;
	--mdc-card-media-border-top-right-radius: 10px;
}

.card--with-media-header .card__header-text {
	padding: 1rem;
}

.card__thumbnail-image {
	border-radius: 50%;
	width: 40px;
}

.card__media {
	--mdc-card-media-background-image: url("https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg");
}

.card__media-content .card__title,
.card__media-content .card__subtitle {
	color: var(--md-sys-color-on-background);
}

.card__media-content {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.crop-image {
	background-size: 200%;
}
