:root {
  /* custom */

  --md-sys-color-primary: #8ad88e;
  --md-sys-color-on-primary: #003911;
  --md-sys-color-primary-container: #00531c;
  --md-sys-color-on-primary-container: #a5f5a8;
  --md-sys-color-secondary: #b9ccb5;
  --md-sys-color-on-secondary: #243424;
  --md-sys-color-secondary-container: #3a4b39;
  --md-sys-color-on-secondary-container: #d4e8d0;
  --md-sys-color-tertiary: #a1ced6;
  --md-sys-color-on-tertiary: #00363c;
  --md-sys-color-tertiary-container: #1f4d53;
  --md-sys-color-on-tertiary-container: #bcebf2;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffb4ab;
  --md-sys-color-background: #1a1c19;
  --md-sys-color-on-background: #e2e3dd;
  --md-sys-color-surface: #1a1c19;
  --md-sys-color-on-surface: #e2e3dd;
  --md-sys-color-surface-variant: #424940;
  --md-sys-color-on-surface-variant: #c2c9bd;
  --md-sys-color-outline: #8c9389;
  --md-sys-color-outline-variant: #424940;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e2e3dd;
  --md-sys-color-inverse-on-surface: #2f312d;
  --md-sys-color-inverse-primary: #1f6c2f;

  /* main */

  --md-source: #456813;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #102000;
  --md-ref-palette-primary20: #203700;
  --md-ref-palette-primary25: #284300;
  --md-ref-palette-primary30: #304f00;
  --md-ref-palette-primary35: #395c03;
  --md-ref-palette-primary40: #456812;
  --md-ref-palette-primary50: #5d822b;
  --md-ref-palette-primary60: #759c42;
  --md-ref-palette-primary70: #8fb85a;
  --md-ref-palette-primary80: #aad472;
  --md-ref-palette-primary90: #c5f08b;
  --md-ref-palette-primary95: #d3ff98;
  --md-ref-palette-primary98: #f0ffd6;
  --md-ref-palette-primary99: #f9ffe8;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #161e0b;
  --md-ref-palette-secondary20: #2a331e;
  --md-ref-palette-secondary25: #353e28;
  --md-ref-palette-secondary30: #404a33;
  --md-ref-palette-secondary35: #4c563e;
  --md-ref-palette-secondary40: #586249;
  --md-ref-palette-secondary50: #717b60;
  --md-ref-palette-secondary60: #8a9479;
  --md-ref-palette-secondary70: #a5af92;
  --md-ref-palette-secondary80: #c0cbac;
  --md-ref-palette-secondary90: #dce7c7;
  --md-ref-palette-secondary95: #eaf5d5;
  --md-ref-palette-secondary98: #f3fedd;
  --md-ref-palette-secondary99: #f9ffe8;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #00201e;
  --md-ref-palette-tertiary20: #003734;
  --md-ref-palette-tertiary25: #10423f;
  --md-ref-palette-tertiary30: #1f4e4b;
  --md-ref-palette-tertiary35: #2c5a56;
  --md-ref-palette-tertiary40: #386662;
  --md-ref-palette-tertiary50: #517f7b;
  --md-ref-palette-tertiary60: #6b9995;
  --md-ref-palette-tertiary70: #85b4b0;
  --md-ref-palette-tertiary80: #a0d0cb;
  --md-ref-palette-tertiary90: #bcece7;
  --md-ref-palette-tertiary95: #cafaf5;
  --md-ref-palette-tertiary98: #e3fffb;
  --md-ref-palette-tertiary99: #f2fffd;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1b1c18;
  --md-ref-palette-neutral20: #30312c;
  --md-ref-palette-neutral25: #3b3c37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #52534d;
  --md-ref-palette-neutral40: #5e5f59;
  --md-ref-palette-neutral50: #777771;
  --md-ref-palette-neutral60: #91918b;
  --md-ref-palette-neutral70: #acaca5;
  --md-ref-palette-neutral80: #c7c7c0;
  --md-ref-palette-neutral90: #e3e3db;
  --md-ref-palette-neutral95: #f2f1e9;
  --md-ref-palette-neutral98: #fbfaf2;
  --md-ref-palette-neutral99: #fdfcf5;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191d14;
  --md-ref-palette-neutral-variant20: #2e3228;
  --md-ref-palette-neutral-variant25: #393d32;
  --md-ref-palette-neutral-variant30: #44483d;
  --md-ref-palette-neutral-variant35: #505448;
  --md-ref-palette-neutral-variant40: #5c6054;
  --md-ref-palette-neutral-variant50: #75796c;
  --md-ref-palette-neutral-variant60: #8f9285;
  --md-ref-palette-neutral-variant70: #a9ad9f;
  --md-ref-palette-neutral-variant80: #c5c8b9;
  --md-ref-palette-neutral-variant90: #e1e4d5;
  --md-ref-palette-neutral-variant95: #eff2e3;
  --md-ref-palette-neutral-variant98: #f8fbeb;
  --md-ref-palette-neutral-variant99: #fbfeee;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #456812;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #c5f08b;
  --md-sys-color-on-primary-container-light: #102000;
  --md-sys-color-secondary-light: #586249;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #dce7c7;
  --md-sys-color-on-secondary-container-light: #161e0b;
  --md-sys-color-tertiary-light: #386662;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bcece7;
  --md-sys-color-on-tertiary-container-light: #00201e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfcf5;
  --md-sys-color-on-background-light: #1b1c18;
  --md-sys-color-surface-light: #fdfcf5;
  --md-sys-color-on-surface-light: #1b1c18;
  --md-sys-color-surface-variant-light: #e1e4d5;
  --md-sys-color-on-surface-variant-light: #44483d;
  --md-sys-color-outline-light: #75796c;
  --md-sys-color-inverse-on-surface-light: #f2f1e9;
  --md-sys-color-inverse-surface-light: #30312c;
  --md-sys-color-inverse-primary-light: #aad472;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #456812;
  --md-sys-color-outline-variant-light: #c5c8b9;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #aad472;
  --md-sys-color-on-primary-dark: #203700;
  --md-sys-color-primary-container-dark: #304f00;
  --md-sys-color-on-primary-container-dark: #c5f08b;
  --md-sys-color-secondary-dark: #c0cbac;
  --md-sys-color-on-secondary-dark: #2a331e;
  --md-sys-color-secondary-container-dark: #404a33;
  --md-sys-color-on-secondary-container-dark: #dce7c7;
  --md-sys-color-tertiary-dark: #a0d0cb;
  --md-sys-color-on-tertiary-dark: #003734;
  --md-sys-color-tertiary-container-dark: #1f4e4b;
  --md-sys-color-on-tertiary-container-dark: #bcece7;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1b1c18;
  --md-sys-color-on-background-dark: #e3e3db;
  --md-sys-color-surface-dark: #1b1c18;
  --md-sys-color-on-surface-dark: #e3e3db;
  --md-sys-color-surface-variant-dark: #44483d;
  --md-sys-color-on-surface-variant-dark: #c5c8b9;
  --md-sys-color-outline-dark: #8f9285;
  --md-sys-color-inverse-on-surface-dark: #1b1c18;
  --md-sys-color-inverse-surface-dark: #e3e3db;
  --md-sys-color-inverse-primary-dark: #456812;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #aad472;
  --md-sys-color-outline-variant-dark: #44483d;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}